<html>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <body>   
        <div class="container">
            <h2>A mimic faceted search</h2>
            <div class="col col-md-4">
                <h4>Search Bar</h4>
                {% for k, v in facet %}
                    {{k}}=>
                    {% for vv in v %}
                    {{vv.author}}
                    {%endfor%}
                {%endfor%}
            </div>
            <div class="col col-md-8">
                <h4>Results:</h4>

            </div>
        </div>
    </body>
</body>
</html>

