<html>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <body>
        <div class="container">
            <h2>PINQ Sample Usage</h2>
            <p>We have the following demos to share with you:</p>
            <ol>
                <li><a href="/demo1">Demo 1</a>: The basic usage, introducing the syntax and keywords;</li>
                <li><a href="/demo2">Demo 2</a>: A facet search, trying to mimic what can be done from SOLR.</li>
            </ol>
        </div>
    </body>
</html>
